main {
    background-color:#FAFAFA;
    color:#212121;
}
section {
}
p {
}
header, footer {
}
header {
}
footer {
    background-color:#607D8B;
    color:#FAFAFA;
}
footer a {
}
#header-background {
}
#header-background video {
}
#profilePicture {
}
.icon {
}
.shadow {
}
.inner {
    background-color:#FAFAFA;
}
.heading {
    color: #EF5350;
}
.name {
}
.section {
    background-color:#EEEEEE;
}
